@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f1f1f1;
  color: #2e2e2e;
}

h1,
h2,
h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.font-exo-italic {
  font-family: 'Exo 2', sans-serif;
  font-weight: 700;
  font-style: italic;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #209927;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #00621a;
}
